# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mac OS files
.DS_Store

.idea/
.vscode/
target/
volumes/
*.iml
.flattened-pom.xml

# Example files
examples/bulk_writer
examples/src/main/resources/tls/*
!examples/src/main/resources/tls/gen.sh
!examples/src/main/resources/tls/openssl.cnf

