version: '3.5'

services:
  standalone:
    container_name: milvus-javasdk-standalone-1
    image: milvusdb/milvus:v2.5.18
    command: [ "milvus", "run", "standalone" ]
    environment:
      - COMMON_STORAGETYPE=local
      - DEPLOY_MODE=STANDALONE
      - ETCD_USE_EMBED=true
      - ETCD_DATA_DIR=/var/lib/milvus/etcd
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/milvus-1:/var/lib/milvus
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9091/healthz" ]
      interval: 30s
      start_period: 90s
      timeout: 20s
      retries: 3
    ports:
      - "19530:19530"
      - "9091:9091"

  standaloneslave:
    container_name: milvus-javasdk-standalone-2
    image: milvusdb/milvus:v2.5.18
    command: [ "milvus", "run", "standalone" ]
    environment:
      - COMMON_STORAGETYPE=local
      - DEPLOY_MODE=STANDALONE
      - ETCD_USE_EMBED=true
      - ETCD_DATA_DIR=/var/lib/milvus/etcd
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/milvus-2:/var/lib/milvus
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9091/healthz" ]
      interval: 30s
      start_period: 90s
      timeout: 20s
      retries: 3
    ports:
      - "19531:19530"
      - "9092:9091"

networks:
  default:
    name: test-milvus