name: Java sdk CI test

on:
  workflow_dispatch:
  pull_request:

jobs:
  build:
    name: Deploy milvus server,build and test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Deploy Milvus
        timeout-minutes: 15
        shell: bash
        working-directory: tests/milvustestv2/src/test/java/resources
        run: |
          echo "deploy milvus"
          ls
          sudo docker compose up -d

      - name: Build jar
        timeout-minutes: 30
        shell: bash
        working-directory:
        run: |
          echo "build jar"
          git submodule update --init
          mvn clean versions:set -DnewVersion=2.4.0
          mvn clean install -Dmaven.test.skip=true

#      - name: Test
#        timeout-minutes: 60
#        shell: bash
#        working-directory: tests/milvustestv2
#        run: |
#          echo "run testcases"
#          mvn clean test -Dsurefire.suiteXmlFiles=testng.xml

#      - name: Upload logs
#        if: ${{ always() }}
#        uses: actions/upload-artifact@v2
#        with:
#          name: logs-java-sdk-ci-test
#          path: |
#            tests/milvustestv2/target/surefire-reports
#            tests/milvustestv2/target/allure-results
